.footer {
    display: flex;
    align-items: center;
    width: 66.4rem;
    margin-left: -3rem;
    
    

    padding-bottom: 20px;
   

   
}
.f-content{
    position:absolute;
    display: flex   ;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 4rem;
    gap:4rem;
    color: blue;
}
.f-icons{
    display: flex;
    gap: 2rem;
    padding-bottom: 20px;
}

@media screen and (max-width: 480px)
{
    .footer{
      /* display: contents; */
      margin-top: -10rem;
      display: contents;
      
    }
    .f-content{
        margin-top: -3rem;
        
    }
    .f-content>span{
        font-size: small;
        text-align: center;
        margin-left: -140px;
    }
    .f-icons{
        
display: none;
    }
}